/* Base Styles--------*/

*{ 
  box-sizing: border-box;
}

body {
 @include text($size:16px, $weight:normal, $color: $color-text);
 font-family: 'Lora', 'Source Sans Pro', serif, sans-serif;
line-height: 1.6;
background-color: $color-body;

}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
    list-style: none;
}

h5 {
    margin: 0;
  }

p {
   @include text($size:.95em, $weight:normal, $color: $color-text);
    margin-bottom: 1.8em;
    
}

li {
  list-style: none;
}